Schemas/ArchiveIndex.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://static.yts233.tk/Schemas/ArchiveIndex.xsd">
    <xs:element name="archives" type="archivesType">
        <xs:annotation>
            <xs:documentation>文档索引</xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="archivesType">
        <xs:sequence>
            <xs:element name="archive" minOccurs="0" maxOccurs="unbounded" type="archiveType">
                <xs:annotation>
                    <xs:documentation>一个文档</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="archive" type="archiveType">
        <xs:annotation>
            <xs:documentation>一个文档</xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="translationsType">
        <xs:sequence>
            <xs:element name="translation" minOccurs="0" maxOccurs="unbounded" type="translateType">
                <xs:annotation>
                    <xs:documentation>翻译</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="statusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="editing">
                <xs:annotation>
                    <xs:documentation>编辑中</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="archived">
                <xs:annotation>
                    <xs:documentation>已存档</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="outdated">
                <xs:annotation>
                    <xs:documentation>过时</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="archiveType">
        <xs:sequence>
            <xs:element name="id" type="xs:int" default="-1">
                <xs:annotation>
                    <xs:documentation>文档的标识符</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="time" type="xs:dateTime" default="2021-01-01 0:00:00 +8">
                <xs:annotation>
                    <xs:documentation>文档的时间</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="status" type="statusType" default="editing">
                <xs:annotation>
                    <xs:documentation>文档状态</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="prime" type="translateType">
                <xs:annotation>
                    <xs:documentation>主语言</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="translations" type="translationsType">
                <xs:annotation>
                    <xs:documentation>翻译</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="translateType">
        <xs:sequence>
            <xs:element name="title" type="xs:string">
                <xs:annotation>
                    <xs:documentation>文档的标题</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string">
                <xs:annotation>
                    <xs:documentation>文档的描述</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="files" type="filesType">
                <xs:annotation>
                    <xs:documentation>文档的文件</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="default" type="defaultType">
                <xs:annotation>
                    <xs:documentation>默认文档</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="lang" type="languageType" use="required" default="zh-CN">
            <xs:annotation>
                <xs:documentation>语言</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:simpleType name="languageType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="af">
                <xs:annotation>
                    <xs:documentation>南非公用荷兰语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="sq">
                <xs:annotation>
                    <xs:documentation>阿尔巴尼亚语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ar-SA">
                <xs:annotation>
                    <xs:documentation>阿拉伯语（沙特阿拉伯）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ar-IQ">
                <xs:annotation>
                    <xs:documentation>阿拉伯语（伊拉克）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ar-EG">
                <xs:annotation>
                    <xs:documentation>阿拉伯语（埃及）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ar-LY">
                <xs:annotation>
                    <xs:documentation>阿拉伯文（利比亚）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ar-DZ">
                <xs:annotation>
                    <xs:documentation>阿拉伯文（阿尔及利亚）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ar-MA">
                <xs:annotation>
                    <xs:documentation>阿拉伯语（摩洛哥）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ar-TN">
                <xs:annotation>
                    <xs:documentation>阿拉伯语（突尼斯）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ar-OM">
                <xs:annotation>
                    <xs:documentation>阿拉伯文（阿曼）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ar-YE">
                <xs:annotation>
                    <xs:documentation>阿拉伯文（也门）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ar-SY">
                <xs:annotation>
                    <xs:documentation>阿拉伯文（叙利亚）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ar-JO">
                <xs:annotation>
                    <xs:documentation>阿拉伯文（约旦）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ar-LB">
                <xs:annotation>
                    <xs:documentation>阿拉伯语（黎巴嫩）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ar-KW">
                <xs:annotation>
                    <xs:documentation>阿拉伯文（科威特）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ar-AE">
                <xs:annotation>
                    <xs:documentation>阿拉伯语（阿联酋）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ar-BH">
                <xs:annotation>
                    <xs:documentation>阿拉伯语（巴林）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ar-QA">
                <xs:annotation>
                    <xs:documentation>阿拉伯文（卡塔尔）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="eu">
                <xs:annotation>
                    <xs:documentation>巴斯克语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="bg">
                <xs:annotation>
                    <xs:documentation>保加利亚语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="be">
                <xs:annotation>
                    <xs:documentation>白俄罗斯语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ca">
                <xs:annotation>
                    <xs:documentation>加泰罗尼亚语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="zh-TW">
                <xs:annotation>
                    <xs:documentation>中文（台湾）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="zh-CN">
                <xs:annotation>
                    <xs:documentation>中文（中华人民共和国）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="zh-HK">
                <xs:annotation>
                    <xs:documentation>中文（香港特区）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="zh-SG">
                <xs:annotation>
                    <xs:documentation>中文（新加坡）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="hr">
                <xs:annotation>
                    <xs:documentation>克罗地亚语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="cs">
                <xs:annotation>
                    <xs:documentation>捷克语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="da">
                <xs:annotation>
                    <xs:documentation>丹麦语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="nl">
                <xs:annotation>
                    <xs:documentation>荷兰语（标准）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="nl-BE">
                <xs:annotation>
                    <xs:documentation>荷兰语（比利时）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="en">
                <xs:annotation>
                    <xs:documentation>英语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="en-US">
                <xs:annotation>
                    <xs:documentation>英语（美国）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="en-GB">
                <xs:annotation>
                    <xs:documentation>英语（英国）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="en-AU">
                <xs:annotation>
                    <xs:documentation>英语（澳大利亚）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="en-CA">
                <xs:annotation>
                    <xs:documentation>英语（加拿大）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="en-NZ">
                <xs:annotation>
                    <xs:documentation>英语（新西兰）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="en-IE">
                <xs:annotation>
                    <xs:documentation>英国（爱尔兰）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="en-ZA">
                <xs:annotation>
                    <xs:documentation>英语（南非）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="en-JM">
                <xs:annotation>
                    <xs:documentation>英语（牙买加）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="en">
                <xs:annotation>
                    <xs:documentation>英语（加勒比海）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="en-BZ">
                <xs:annotation>
                    <xs:documentation>英语（伯利兹）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="en-TT">
                <xs:annotation>
                    <xs:documentation>英语（特立尼达和多巴哥）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="et">
                <xs:annotation>
                    <xs:documentation>爱沙尼亚语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="fo">
                <xs:annotation>
                    <xs:documentation>法罗语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="fa">
                <xs:annotation>
                    <xs:documentation>波斯语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="fi">
                <xs:annotation>
                    <xs:documentation>芬兰语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="fr">
                <xs:annotation>
                    <xs:documentation>法语（标准）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="fr-BE">
                <xs:annotation>
                    <xs:documentation>法语（比利时）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="fr-CA">
                <xs:annotation>
                    <xs:documentation>法语（加拿大）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="fr-CH">
                <xs:annotation>
                    <xs:documentation>法语（瑞士）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="fr-LU">
                <xs:annotation>
                    <xs:documentation>法语（卢森堡）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="gd">
                <xs:annotation>
                    <xs:documentation>盖尔语（苏格兰）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ga">
                <xs:annotation>
                    <xs:documentation>爱尔兰语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="de">
                <xs:annotation>
                    <xs:documentation>德语（标准）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="de-CH">
                <xs:annotation>
                    <xs:documentation>德语（瑞士）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="de-AT">
                <xs:annotation>
                    <xs:documentation>德语（奥地利）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="de-LU">
                <xs:annotation>
                    <xs:documentation>德语（卢森堡）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="de-LI">
                <xs:annotation>
                    <xs:documentation>德语（列支敦士登）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="el">
                <xs:annotation>
                    <xs:documentation>希腊</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="he">
                <xs:annotation>
                    <xs:documentation>希伯来语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="hi">
                <xs:annotation>
                    <xs:documentation>印地文</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="hu">
                <xs:annotation>
                    <xs:documentation>匈牙利语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="is">
                <xs:annotation>
                    <xs:documentation>冰岛语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="id">
                <xs:annotation>
                    <xs:documentation>印度尼西亚语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="it">
                <xs:annotation>
                    <xs:documentation>意大利语（标准）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="it-CH">
                <xs:annotation>
                    <xs:documentation>意大利语（瑞士）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ja">
                <xs:annotation>
                    <xs:documentation>日语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ko">
                <xs:annotation>
                    <xs:documentation>韩语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ko">
                <xs:annotation>
                    <xs:documentation>韩文（韓文）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="lv">
                <xs:annotation>
                    <xs:documentation>拉脱维亚语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="lt">
                <xs:annotation>
                    <xs:documentation>立陶宛语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="mk">
                <xs:annotation>
                    <xs:documentation>马其顿语（前南马其顿）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ms">
                <xs:annotation>
                    <xs:documentation>马来西亚语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="mt">
                <xs:annotation>
                    <xs:documentation>马耳他语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="no">
                <xs:annotation>
                    <xs:documentation>挪威文（巴克摩）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="no">
                <xs:annotation>
                    <xs:documentation>挪威文（耐诺斯克）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="pl">
                <xs:annotation>
                    <xs:documentation>波兰语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="pt-BR">
                <xs:annotation>
                    <xs:documentation>葡萄牙语（巴西）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="pt">
                <xs:annotation>
                    <xs:documentation>葡萄牙语（葡萄牙）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="rm">
                <xs:annotation>
                    <xs:documentation>里托罗曼斯文</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ro">
                <xs:annotation>
                    <xs:documentation>罗马尼亚语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ro-MO">
                <xs:annotation>
                    <xs:documentation>罗马尼亚语（摩尔多瓦共和国）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ru">
                <xs:annotation>
                    <xs:documentation>俄语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ru-MO">
                <xs:annotation>
                    <xs:documentation>俄罗斯（摩尔多瓦共和国）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="sz">
                <xs:annotation>
                    <xs:documentation>萨米语（拉普语）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="sr">
                <xs:annotation>
                    <xs:documentation>塞尔维亚语（西里尔文）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="sr">
                <xs:annotation>
                    <xs:documentation>塞尔维亚语（拉丁）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="sk">
                <xs:annotation>
                    <xs:documentation>斯洛伐克语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="sl">
                <xs:annotation>
                    <xs:documentation>斯洛文尼亚语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="sb">
                <xs:annotation>
                    <xs:documentation>索布语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="es">
                <xs:annotation>
                    <xs:documentation>西班牙语（西班牙）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="es-MX">
                <xs:annotation>
                    <xs:documentation>西班牙语（墨西哥）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="es-GT">
                <xs:annotation>
                    <xs:documentation>西班牙语（危地马拉）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="es-CR">
                <xs:annotation>
                    <xs:documentation>西班牙语（哥​​斯达黎加）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="es-PA">
                <xs:annotation>
                    <xs:documentation>西班牙语（巴拿马）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="es-DO">
                <xs:annotation>
                    <xs:documentation>西班牙文（多米尼加共和国）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="es-VE">
                <xs:annotation>
                    <xs:documentation>西班牙语（委内瑞拉）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="es-CO">
                <xs:annotation>
                    <xs:documentation>西班牙语（哥​​伦比亚）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="es-PE">
                <xs:annotation>
                    <xs:documentation>西班牙语（秘鲁）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="es-AR">
                <xs:annotation>
                    <xs:documentation>西班牙语（阿根廷）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="es-EC">
                <xs:annotation>
                    <xs:documentation>西班牙语（厄瓜多尔）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="es-CL">
                <xs:annotation>
                    <xs:documentation>西班牙语（智利）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="es-UY">
                <xs:annotation>
                    <xs:documentation>西班牙语（乌拉圭）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="es-PY">
                <xs:annotation>
                    <xs:documentation>西班牙语（巴拉圭）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="es-BO">
                <xs:annotation>
                    <xs:documentation>西班牙语（玻利维亚）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="es-SV">
                <xs:annotation>
                    <xs:documentation>西班牙语（萨尔瓦多）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="es-HN">
                <xs:annotation>
                    <xs:documentation>西班牙语（洪都拉斯）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="es-NI">
                <xs:annotation>
                    <xs:documentation>西班牙语（尼加拉瓜）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="es-PR">
                <xs:annotation>
                    <xs:documentation>西班牙语（波多黎各）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="sx">
                <xs:annotation>
                    <xs:documentation>苏图语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="sv">
                <xs:annotation>
                    <xs:documentation>瑞典语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="sv-FI">
                <xs:annotation>
                    <xs:documentation>瑞典语（芬兰）</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="th">
                <xs:annotation>
                    <xs:documentation>泰国语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ts">
                <xs:annotation>
                    <xs:documentation>特松加语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="tn">
                <xs:annotation>
                    <xs:documentation>茨瓦纳语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="tr">
                <xs:annotation>
                    <xs:documentation>土耳其语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="uk">
                <xs:annotation>
                    <xs:documentation>乌克兰语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ur">
                <xs:annotation>
                    <xs:documentation>乌尔都语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ve">
                <xs:annotation>
                    <xs:documentation>文达语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="vi">
                <xs:annotation>
                    <xs:documentation>越南语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="xh">
                <xs:annotation>
                    <xs:documentation>科萨语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ji">
                <xs:annotation>
                    <xs:documentation>意第绪语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="zu">
                <xs:annotation>
                    <xs:documentation>祖鲁语</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="defaultType">
        <xs:attribute name="path" type="xs:string" use="required" default="/index.md">
            <xs:annotation>
                <xs:documentation>文件路径</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="filesType">
        <xs:sequence>
            <xs:element name="directory" maxOccurs="unbounded" type="directoryType">
                <xs:annotation>
                    <xs:documentation>一个文件夹</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="file" maxOccurs="unbounded" type="fileType">
                <xs:annotation>
                    <xs:documentation>一个文件</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="fileType">
        <xs:attribute name="name" type="xs:string" use="required" default="index.md">
            <xs:annotation>
                <xs:documentation>文件名</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="type" type="xs:string" use="required" default="markdown">
            <xs:annotation>
                <xs:documentation>文件类型</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="time" use="required" type="xs:dateTime">
            <xs:annotation>
                <xs:documentation>时间</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ref" type="xs:anyURI" use="required" default="/index.md">
            <xs:annotation>
                <xs:documentation>文件所在路径</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="directoryType">
        <xs:sequence>
            <xs:element name="directory" maxOccurs="unbounded" type="directoryType">
                <xs:annotation>
                    <xs:documentation>一个文件夹</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="file" maxOccurs="unbounded" type="fileType">
                <xs:annotation>
                    <xs:documentation>一个文件</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="name" use="required" type="xs:string">
            <xs:annotation>
                <xs:documentation>文件夹名</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
</xs:schema>